.sameSlider {
    &__minHeight {
        min-height: 540px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    .sameSlider {
        &__minHeight {
            min-height: 420px;
        }

        &__item {
            margin-top: 30px;
        }
    
        &__title {
            font-size: 32px;
        }
    }
}

@media (max-width: 540px) {
    .sameSlider {
        &__minHeight {
            min-height: 380px;
        }
    
        &__title {
            font-size: 25px;
            font-weight: 600;
        }
    }
}