.notFound {
    &__number {
        font-size: 150px;
        font-weight: 900;
        text-align: center;
    }

    &__text {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }
}